* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0 auto;
  width: 75vw;
  border: 5px solid lightsalmon;
  border-radius: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media (min-width: 750px) {
  body {
    width: 300px;
  }
}

body > h1 {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

body > button {
  justify-self: center;
  background: black;
  color: white;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body > form {
  background: lightgray;
  display: grid;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
  justify-self: center;
}

form > p {
  display: grid;
}

.btn-submit {
  background: lightskyblue;
  padding: 5px;
}

.hide {
  display: none;
}

.card {
  background: lightgoldenrodyellow;
  border: 1px solid rebeccapurple;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.btn-removebook,
.btn-toggleread {
  background: lightskyblue;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
